In [1]:
#importing necessary libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#reading the dataset into pandas DataFrame
data = pd.read_csv("energydata_complete.csv")
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# column names and meaning
column_names = {'date':'Date','Appliances':'Appliances','lights':'lights','T1': 'Temperature in kitchen area'
                ,'RH_1':'Humidity in kitchen area','T2': 'Temperature in living room area'
                ,'RH_2': 'Humidity in living room area','T3':'Temperature in laundry room area'
                ,'RH_3':'Humidity in laundry room area','T4':'Temperature in office room','RH_4':'Humidity in office room'
                ,'T5':'Temperature in bathroom','RH_5':'Humidity in bathroom','T6':'Temperature outside the building'
                ,'RH_6':'Humidity outside the building','T7':'Temperature in ironing room','RH_7':'Humidity in ironing room'
                ,'T8':'Temperature in teenager room 2','RH_8':'Humidity in teenager room 2','T9':'Temperature in parents room'
                ,'RH_9':'Humidity in parents room','T_out':'Temperature outside','Press_mm_hg':'Pressure_mm_hg' 
                ,'RH_out': 'Humidity outside','Wind speed':'Wind speed','Visibility':'Visibility','Tdewpoint':'Tdewpoint'
                ,'rv1':'Random variable 1','rv2':'Random variable 2'}

In [4]:
# renaming the column names to corresponding meaning
data = data.rename(columns=column_names)

In [5]:
data.head()

,Date,Appliances,lights,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,...,Temperature in parents room,Humidity in parents room,Temperature outside,Pressure_mm_hg,Humidity outside,Windspeed,Visibility,Tdewpoint,Random variable 1,Random variable 2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
# dropping the 'date' and 'lights' columns from the dataset as they are not needed
data1 = data.drop(columns=['Date','lights'])

In [7]:
data1.head()

,Appliances,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,Humidity in office room,Temperature in bathroom,...,Temperature in parents room,Humidity in parents room,Temperature outside,Pressure_mm_hg,Humidity outside,Windspeed,Visibility,Tdewpoint,Random variable 1,Random variable 2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
# Normalise the dataset using the min max scaler to a common scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data1 = pd.DataFrame(scaler.fit_transform(data1), columns=data1.columns)
features_data1 = normalised_data1.drop(columns=['Appliances'])
appliances_target = normalised_data1['Appliances']

In [9]:
features_data1.head()

,Temperature in kitchen area,Humidity in kitchen area,Temperature in living room area,Humidity in living room area,Temperature in laundry room area,Humidity in laundry room area,Temperature in office room,Humidity in office room,Temperature in bathroom,Humidity in bathroom,...,Temperature in parents room,Humidity in parents room,Temperature outside,Pressure_mm_hg,Humidity outside,Windspeed,Visibility,Tdewpoint,Random variable 1,Random variable 2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

### Model Training and Evaluation

In [10]:
#Now, we split our dataset into the training(70%) and testing(30%) dataset. Remember we had divided the dataset into features and target variables.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data1, appliances_target, test_size=0.3, random_state=42)

In [11]:
# next, we fit our Linear Regression model to the training dataset
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

### Linear Regression Model Performance

In [12]:
# Q13.Calculate the Mean Absolute Error(MAE)
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
print('Mean Absolute Error(MAE):', round(mae,2))

Mean Absolute Error(MAE): 0.05

In [13]:
#Q16. Calculate the R-squared
from sklearn.metrics import r2_score
r2_scor = r2_score(y_test, predicted_values)
print('Coefficient of Determination/R-squared:', round(r2_scor, 2))

Coefficient of Determination/R-squared: 0.15

In [14]:
# Q15. Root Mean Square Error(RMSE)
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
print('Root Mean Square Error(RMSE):', round(rmse, 3))

Root Mean Square Error(RMSE): 0.088

In [15]:
# Q14. Residual Sum of Squares(RSS)
rss = np.sum(np.square(y_test - predicted_values))
print('Residual Sum of Squares(RSS):', round(rss, 2))

Residual Sum of Squares(RSS): 45.35

### Linear Model Feature Weights

In [16]:
#Q17. this function returns the weight of every feature
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

In [17]:
linear_model_weights

                            Features  Linear_Model_Weight
0       Humidity in living room area            -0.456698
1                Temperature outside            -0.321860
2    Temperature in living room area            -0.236178
3        Temperature in parents room            -0.189941
4        Humidity in teenager room 2            -0.157595
5                   Humidity outside            -0.077671
6           Humidity in ironing room            -0.044614
7           Humidity in parents room            -0.039800
8            Temperature in bathroom            -0.015657
9        Temperature in kitchen area            -0.003281
10                 Random variable 1             0.000770
11                 Random variable 2             0.000770
12                    Pressure_mm_hg             0.006839
13       Temperature in ironing room             0.010319
14                        Visibility             0.012307
15              Humidity in bathroom             0.016006
16           Humidity in office room             0.026386
17        Temperature in office room             0.028981
18                         Windspeed             0.029183
19     Humidity outside the building             0.038049
20     Humidity in laundry room area             0.096048
21    Temperature in teenager room 2             0.101995
22                         Tdewpoint             0.117758
23  Temperature outside the building             0.236425
24  Temperature in laundry room area             0.290627
25          Humidity in kitchen area             0.553547

In [18]:
# Feature with the highest weight
linear_model_weights.iloc[linear_model_weights['Linear_Model_Weight'].idxmax()]

Features               Humidity in kitchen area
Linear_Model_Weight                    0.553547
Name: 25, dtype: object

In [19]:
# Feature with the lowest weight
linear_model_weights.iloc[linear_model_weights['Linear_Model_Weight'].idxmin()]

Features               Humidity in living room area
Linear_Model_Weight                       -0.456698
Name: 0, dtype: object

### Ridge Regression

In [20]:
#Ridge Regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

ridge_pred = ridge_reg.predict(x_test)

In [21]:
# Q18. Root Mean Square Error(RMSE)
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
print('Root Mean Square Error(RMSE):', round(ridge_rmse, 3))

Root Mean Square Error(RMSE): 0.088

(There is no change in the RMSE)

### Lasso Regression

In [22]:
# fit Lasso Regression into the train set 
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso_pred = lasso_reg.predict(x_test)

# calculate the lasso feature weights using the get_weights_df function
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

                            Features  Lasso_weight
0                   Humidity outside     -0.049557
1        Humidity in teenager room 2     -0.000110
2        Temperature in kitchen area      0.000000
3                          Tdewpoint      0.000000
4                         Visibility      0.000000
5                     Pressure_mm_hg     -0.000000
6                Temperature outside      0.000000
7           Humidity in parents room     -0.000000
8        Temperature in parents room     -0.000000
9     Temperature in teenager room 2      0.000000
10          Humidity in ironing room     -0.000000
11                 Random variable 1     -0.000000
12       Temperature in ironing room     -0.000000
13  Temperature outside the building      0.000000
14              Humidity in bathroom      0.000000
15           Temperature in bathroom     -0.000000
16           Humidity in office room      0.000000
17        Temperature in office room     -0.000000
18     Humidity in laundry room area      0.000000
19  Temperature in laundry room area      0.000000
20      Humidity in living room area     -0.000000
21   Temperature in living room area      0.000000
22     Humidity outside the building     -0.000000
23                 Random variable 2     -0.000000
24                         Windspeed      0.002912
25          Humidity in kitchen area      0.017880

In [23]:
#Q19. total numbet of non-zero lasso feature weights
print('Number of non-zero feature weights:', (lasso_weights_df['Lasso_weight'] != 0).sum())

Number of non-zero feature weights: 4

In [24]:
#Q20. lasso regression Root Mean Square Error(RMSE)
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
print('Root Mean Square Error(RMSE):', round(lasso_rmse, 3))

Root Mean Square Error(RMSE): 0.094

### Linear model on the relationship between Temperature in the living room and outside the building

In [25]:
# assigning the feature and target variables
living_temp = features_data1['Temperature in living room area'].values.reshape(-1, 1)
temp_out = features_data1['Temperature outside the building'].values.reshape(-1, 1)

# split data into train and test set
xtrain, xtest, ytrain, ytest = train_test_split(living_temp, temp_out, test_size=0.3, random_state=42)

# fit model to the data
linear_model.fit(xtrain, ytrain)

temp_pred = linear_model.predict(xtest)

In [26]:
#  Q12.  R-squared value in 2 decimal places
r2_temp = r2_score(ytest,temp_pred)
print('R-squared:', round(r2_temp, 2))

R-squared: 0.64